@model IDM.DTO.ForgotPasswordDTO
@{
    ViewData["Title"] = "ลืมรหัสผ่าน";
    Layout = "_LayoutBox";

    var sms = "";
    var email = "";

    if (!string.IsNullOrEmpty(Model.Phone))
    {
        sms = "xxx-xxx-";
        sms += Model.Phone.Substring(Model.Phone.Length - 4, 4);
    }
    if (!string.IsNullOrEmpty(Model.Email))
    {
        var list = Model.Email.Split("@");
        if (list.Length > 0)
        {
            if (list[0].Length == 2)
            {
                email += list[0][0] + "x";
            }
            else if (list[0].Length == 3)
            {
                email += list[0][0] + "xx";
            }
            else
            {
                for (var i = 0; i < list[0].Length; i++)
                {
                    if (i < list[0].Length - 4)
                    {
                        email += list[0][i];
                    }
                    else
                    {
                        email += "x";
                    }
                }
            }
            email += "@";
            var list2 = list[1].Split(".");
            for (var i = 0; i < list2.Length; i++)
            {
                if (i == 0)
                {
                    var domain = "";
                    for (var j = 0; j < list2[i].Length; j++)
                    {
                        domain += "x";
                    }
                    email += domain;

                }
                else
                {
                    email += ".";
                    email += list2[i];
                }
            }
        }

    }

}
<div class="container">
    <div class="row vh-100 ">
        <div class="col-12 align-self-center">
            <div class="auth-page">
                <div class="card auth-card shadow-lg">
                    <div class="card-body">
                        <div class="px-3">
                            <div class="text-center auth-logo-text">
                                <h4 class="mt-0 mb-3 mt-5">@LanguageLabel.GetLabel(Model.Languages, "Forgot Password")</h4>
                                <p class="text-muted mb-0">@LanguageLabel.GetLabel(Model.Languages, "Choose Send Type")<br />@LanguageLabel.GetLabel(Model.Languages, "Contact to Admin")</p>
                            </div> <!--end auth-logo-text-->
                            <form class="form-horizontal form-parsley" novalidate role="form" asp-action="ForgotPassword2" asp-controller="Auth">
                                @Html.HiddenFor(m => m.Code)
                                @Html.HiddenFor(m => m.LanguageCode)
                                @Html.HiddenFor(m => m.Phone)
                                @Html.HiddenFor(m => m.Email)
                                @Html.HiddenFor(m => m.FirstName)
                                @Html.HiddenFor(m => m.LastName)

                                <div class="my-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="sms" name="SendMessageType" value="@SendMessageType.SMS" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="sms">SMS [@sms]</label>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="email" name="SendMessageType" value="@SendMessageType.Email" class="custom-control-input">
                                        <label class="custom-control-label" for="email">Email [@email]</label>
                                    </div>
                                </div>
                                <div class="form-group mb-0 row">
                                    <div class="col-12 mt-2">
                                        <button class="btn btn-gradient-primary btn-block waves-effect waves-light" type="submit">@LanguageLabel.GetLabel(Model.Languages, "Send")</button>
                                    </div><!--end col-->
                                </div> <!--end form-group-->
                            </form><!--end form-->
                        </div><!--end /div-->

                        <div class="m-3 text-center text-muted">
                            <a href="@Url.Action("Login","Auth", new { lang = Model.LanguageCode })" class="text-primary ml-2">@LanguageLabel.GetLabel(Model.Languages, "Login")</a></p>
                        </div>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end auth-page-->
        </div><!--end col-->
    </div><!--end row-->
</div>


