@model IDM.DTO.GetPasswordDTO
@{
    ViewData["Title"] = "เปิดใช้งานบัญชีผู้ใช้";
    Layout = "_LayoutBox";

}
<div class="container">
    <div class="row vh-100 ">
        <div class="col-12 align-self-center">
            <div class="auth-page">
                <div class="card auth-card shadow-lg">
                    <div class="card-body">
                        <form class="form-horizontal form-parsley" novalidate role="form" asp-action="GetPassword" asp-controller="Auth">
                            <div class="px-3">
                                <div class="auth-logo-text">
                                    <h5 class="mt-0 mb-3 mt-5"><b>รหัสนักศึกษา</b></h5>
                                    <input class="form-control" type="text" asp-for="cu_jobcode" maxlength="10" placeholder="Student ID">
                                    @Html.ValidationMessageFor(m => m.cu_jobcode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="px-3">
                                <div class="auth-logo-text">
                                    <h5 class="mt-0 mb-3 mt-3"><b>รหัสบัตรประชาชน หรือ Passport No.</b></h5>
                                    <input class="form-control" type="text" asp-for="cu_pplid" maxlength="13" placeholder="Citizen ID or Passport No.">
                                    @Html.ValidationMessageFor(m => m.cu_pplid, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="px-3">
                                <div class="auth-logo-text">
                                    <h5 class="mt-0 mb-3 mt-3"><b>ชื่อ</b></h5>
                                    <input class="form-control" type="text" asp-for="basic_givenname" placeholder="First Name">
                                    @Html.ValidationMessageFor(m => m.basic_givenname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="px-3">
                                <div class="auth-logo-text">
                                    <h5 class="mt-0 mb-3 mt-3"><b>นามสกุล</b></h5>
                                    <input class="form-control" type="text" asp-for="basic_sn" placeholder="Last Name">
                                    @Html.ValidationMessageFor(m => m.basic_sn, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="m-3 text-center text-muted">
                                @if (ViewBag.ReturnCode != null)
                                {
                                    if (ViewBag.ReturnCode == ReturnCode.Success)
                                    {
                                <span class="text-success">
                                    @Html.Raw(ViewBag.Message)
                                </span>
                                    }
                                    else
                                    {
                                <span class="text-danger">
                                    @Html.Raw(ViewBag.Message)
                                </span>
                                    }

                                }
                            <button class="btn btn-success waves-effect waves-light btn-block" type="submit">
                                <i class="fas fa-user-plus ml-1"></i> รับรหัสผ่าน
                                <span><br /></span>
                                <span class="text-eng mt-1">Get Password for new User</span>
                            </button>
                            </div>
                            <div class="m-3 text-center text-muted">
                                <a href="@Url.Action("LoginUser","Auth")" class="btn btn-info waves-effect waves-light btn-block" type="button">
                                    <i class="fas fa-sign-in-alt ml-1"></i> กลับ
                                    <span><br /></span>
                                    <span class="text-eng mt-1">Back</span>
                                </a>
                            </div>
                        </form>
                    </div><!--end card-body-->
                </div><!--end card-->
            </div><!--end auth-page-->
        </div><!--end col-->
    </div><!--end row-->
</div>

@section scripts{
    <script>
        $(document).ready(function () {

        });
        function Submit() {

        }
    </script>
}
