@model IDM.Models.visual_fim_user
@using IDM.Extensions
@{
    ViewData["Title"] = "แก้ไขบัญชีข้อมูลส่วนบุคคล";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">แก้ไขบัญชีข้อมูลส่วนบุคคล</h4>
                    <p class="text-muted">
                        Edit User Information
                    </p>
                </div><!--end page-title-box-->
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" asp-action="AccountInfo" asp-controller="Account">
        @Html.HiddenFor(m => m.id)
        @Html.HiddenFor(m => m.ad_created)
        @Html.HiddenFor(m => m.ldap_created)
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body  mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Login Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_uid" readonly>
                                        @Html.ValidationMessageFor(m => m.basic_uid)
                                    </div>
                                    <label class="col-sm-2 col-form-label text-right">Organizarion Level 1</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="@AppUtil.getOuName(Model.system_ou_lvl1)" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">First Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_givenname" required>
                                        @Html.ValidationMessageFor(m => m.basic_givenname)

                                    </div>
                                    <label class="col-sm-2 col-form-label text-right">Organizarion Level 2</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="@AppUtil.getOuName(Model.system_ou_lvl2)" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Last Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_sn" required>
                                        @Html.ValidationMessageFor(m => m.basic_sn)
                                    </div>
                                    <label class="col-sm-2 col-form-label text-right">Organizarion Level 3</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" value="@AppUtil.getOuName(Model.system_ou_lvl3)" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Display Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_displayname" readonly>
                                        @Html.ValidationMessageFor(m => m.basic_displayname)
                                    </div>
                                    <label class="col-sm-2 col-form-label text-right">AD</label>
                                    <div class="col-sm-3 mt-2">
                                        @if (Model.ad_created)
                                        {
                                            <span class="badge badge-success">Account have been created</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">Account has not found </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Name Thai</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_thcn" required>
                                        @Html.ValidationMessageFor(m => m.cu_thcn)
                                    </div>
                                    <label class="col-sm-2 col-form-label text-right">LDAP</label>
                                    <div class="col-sm-3 mt-2">
                                        @if (Model.ldap_created)
                                        {
                                            <span class="badge badge-success">Account have been created</span>
                                        }
                                        else
                                        {
                                    <span class="badge badge-danger">Account has not found </span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Surname Thai</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_thsn" required>
                                        @Html.ValidationMessageFor(m => m.cu_thsn)
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Display Name</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_displayname" readonly>
                                        @Html.ValidationMessageFor(m => m.basic_displayname)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Email</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_mail" readonly>
                                        @Html.ValidationMessageFor(m => m.basic_mail)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Mobile Phone</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_mobile">
                                        @Html.ValidationMessageFor(m => m.basic_mobile)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Telephone Number</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="basic_telephonenumber"  >
                                        @Html.ValidationMessageFor(m => m.basic_telephonenumber)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Jobcode</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_jobcode"  maxlength="10">
                                        @Html.ValidationMessageFor(m => m.cu_jobcode)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Citizen ID</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_pplid" maxlength="13">
                                        @Html.ValidationMessageFor(m => m.cu_pplid)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Internet Access</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" asp-for="internetaccess">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                        </select>
                                        @Html.ValidationMessageFor(m => m.internetaccess)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">VPN</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" asp-for="unix_inetCOS">
                                            <option value="novpn-500">novpn-500</option>
                                            <option value="vpn-500">vpn-500</option>
                                            <option value="novpn-200">novpn-200</option>
                                            <option value="vpn-200">vpn-200</option>
                                        </select>
                                        @Html.ValidationMessageFor(m => m.internetaccess)

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">วันหมดอายุ</label>
                                    <div class="col-sm-2 mt-2">
                                        <div class="checkbox">
                                            <input type="checkbox" asp-for="cu_CUexpire_select" onchange="CUexpire_Onchange()">
                                            <label for="cu_CUexpire_select">
                                                ไม่มีวันหมดอายุ
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 CUexpire">
                                        <select class="form-control" asp-for="cu_CUexpire_day">
                                            @for (var i = 1; i <= 31; i++)
                                            {
                                                <option value="@i">@i.ToString("00")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-2 CUexpire">
                                        <select class="form-control" asp-for="cu_CUexpire_month">
                                            @for (var i = 1; i <= 12; i++)
                                            {
                                                <option value="@i">@DateUtil.GetShortMonth(i)</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-2 CUexpire">
                                        <select class="form-control" asp-for="cu_CUexpire_year">
                                            @for (var i = DateUtil.Now().Year; i <= DateUtil.Now().Year + 5; i++)
                                            {
                                                <option value="@i">@i.ToString("0000")</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">mailhost(LDAP)</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_mailhost" readonly>
                                        @Html.ValidationMessageFor(m => m.cu_mailhost)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">maildrop(LDAP)</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_maildrop" readonly>
                                        @Html.ValidationMessageFor(m => m.cu_maildrop)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">miWmprefEmailAddress(LDAP)</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="mail_miWmprefEmailAddress" readonly>
                                        @Html.ValidationMessageFor(m => m.mail_miWmprefEmailAddress)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right">Name Surname, OU, Tel.</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" type="text" asp-for="cu_gecos" readonly>
                                        @Html.ValidationMessageFor(m => m.cu_gecos)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label text-right"></label>
                                    <div class="col-sm-3">
                                        <button class="btn btn-primary" type="submit">บันทึก</button>
                                        <a href="@Url.Action("ManageAccount","Account")" class="btn btn-light" type="button">กลับ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div> <!-- end row -->
    </form>
</div><!-- container -->

@section scripts{
    <script>
        $(document).ready(function () {
            CUexpire_Onchange();
        });
        function CUexpire_Onchange() {
            if ($('#cu_CUexpire_select').get(0).checked == true) {
                $('.CUexpire').hide();
            }
            else {
                $('.CUexpire').show();
            }
        }
    </script>
}