@model IDM.DTO.SearchDTO
@using IDM.Extensions
@{
    ViewData["Title"] = "อนุมัติการร้องของเปลี่ยนรหัสผ่าน";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">อนุมัติการร้องของเปลี่ยนรหัสผ่าน</h4>
                    <p class="text-muted">
                        Approve Change Password
                    </p>
                </div><!--end page-title-box-->
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" asp-action="ApproveChangePassword" asp-controller="Account" id="theForm" method="get">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">ค้นหา</h4>
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <label class="col-form-label">วันที่</label>
                                <div class="input-group">
                                    <input type="text" class="form-control dpicker" asp-for="dfrom">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label class="col-form-label">ถึง</label>
                                <div class="input-group">
                                    <input type="text" class="form-control dpicker" asp-for="dto">
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label"><br /></label>
                                <button class="btn btn-primary btn-block" type="submit">ค้นหา</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <button class="btn btn-danger" type="button" onclick="OnApprove()">Approve</button>
                            </div>
                            <div class="col-lg-6 text-right">
                                ทั้งหมด @Model.itemcnt รายการ
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="table-rep-plugin">
                                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table table-striped mb-0">
                                            <thead>
                                                <tr>
                                                    <th width="30px">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="chkall" onchange="OnCheckAll()">
                                                            <label class="custom-control-label" for="chkall"></label>
                                                        </div>
                                                    </th>
                                                    <th>No.</th>
                                                    <th>Username</th>
                                                    <th>IP</th>
                                                    <th>Target IP</th>
                                                    <th>Create By</th>
                                                    <th>Create Datetime</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.lists != null)
                                                {
                                                    var i = 1;
                                                    if (Model.pageno > 1)
                                                    {
                                                        i = ((Model.pageno - 1) * 100) + 1;
                                                    }
                                                    foreach (reset_password_temp item in Model.lists)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input chk" id="chk-@item.temp_id" value="@item.temp_id">
                                                                    <label class="custom-control-label" for="chk-@item.temp_id"></label>
                                                                </div>
                                                            </td>
                                                            <td>@i</td>
                                                            <td>@item.username</td>
                                                            <td>@item.ip</td>
                                                            <td>@item.target_ip</td>
                                                            <td>@item.reset_by</td>
                                                            <td>@DateUtil.ToDisplayDateTime(item.reset_date)</td>
                                                            <td>
                                                                @if (item.status == "approved")
                                                                {
                                                                    <span class="badge badge-success"> @item.status</span>

                                                                }
                                                                else
                                                                {
                                                                    @item.status
                                                                }
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                                @if (Model.lists == null || Model.lists.Count() == 0)
                                                {
                                                    <tr>
                                                        <td colspan="8" class="text-center">ไม่พบข้อมูล</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    @*@if (Model.lists.Count() > 0)
                                    {
                                        <br />
                                        <div class="table-pagination">
                                            <div class="btn-group">
                                                @for (var i = 1; i <= Model.pagelen; i++)
                                                {
                                                    <a href="@Url.Action("ApproveChangePassword", "Account", new { pageno = i, dfrom = Model.dfrom, dto = Model.dto })" class="btn btn-outline-secondary @(Model.pageno == i ? "active" : "")">@i</a>
                                                }
                                            </div>
                                        </div>
                                    }*@
                                </div>
                            </div>
                        </div>


                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div>
    </form>
</div><!-- container -->
@section scripts{
    <script>
        function OnCheckAll() {
            if ($('#chkall').get(0).checked == true) {
                for (var i = 0; i < $('.chk').length; i++) {
                    if (i >= 100) {
                        break;
                    }
                    $('.chk').get(i).checked = true;
                }
            }
            else {
                for (var i = 0; i < $('.chk').length; i++) {
                    $('.chk').get(i).checked = false;
                }
            }
        }
        function OnApprove() {
            var choose = '';
            var over100 = false;
            for (var i = 0; i < $('.chk').length; i++) {
                if (i >= 100) {
                    over100 = true;
                    break;
                }
                if ($('.chk').get(i).checked == true) {
                    choose += $('.chk').get(i).value + ';';
                }
            }
            if (choose == '') {
                alert('กรุณาระบุบัญชีผู้ใช้');
                return;
            }

            var msg = "ต้องการอนุมัติรายการ?";
            if (over100 == true)
                msg = "ระบบสามารถอนุมัติสูงสุดได้ครั้งละ 100 รายการเท่านั้น ต้องการอนุมัติรายการ?";

            if (confirm(msg)) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("Approve", "Account")?choose=' + choose,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#theForm').submit();
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                    }
                });
            }
        }
        function deleteaccount(id) {
            if (confirm('ต้องการลบรายการนี้?')) {
                $.ajax({
                    type: 'Get',
                    url: '@Url.Action("Delete", "Account")?choose=' + id,
                    success: function (data) {
                        if (data.result == 1) {
                            $('#theForm').submit();
                        }
                    },
                    error: function (XMLHttpRequest, errorThrown) {
                    }
                });
            }
        }
    </script>
}
