@using IDM.Extensions
@model IDM.DTO.SearchDTO
@{
    ViewData["Title"] = "สร้างบัญชีรายชื่อผู้ใช้จากไฟล์";
    var rowcnt = 0;
    if (Model.lists != null && Model.lists.Count() > 0)
    {
        rowcnt = Model.lists.Count();
    }
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">
                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                        @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                        <div class="alert alert-success  border-0" role="alert">
                            <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                            <strong class="font-18">@ViewBag.Message</strong>
                        </div>
                            }
                            else
                            {
                        <div class="alert alert-danger border-0" role="alert">
                            <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                            <strong class="font-18">@ViewBag.Message</strong>
                        </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">สร้างบัญชีรายชื่อผู้ใช้จากไฟล์</h4>
                    <p class="text-muted">
                        ECreate Accounts from File
                    </p>
                </div><!--end page-title-box-->
            </div>
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-parsley" asp-action="CreateAccountFromFile" asp-controller="Account" enctype="multipart/form-data" method="post">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label text-right">รูปแบบไฟล์ข้อมูล</label>
                            <div class="col-lg-3">
                                <select class="form-control" asp-for="import_option" onchange="import_option_onchange()">
                                    <option value="@ImportCreateOption.student">นิสิต:สำนักทะเบียน</option>
                                    <option value="@ImportCreateOption.student_sasin">นิสิต:ศศินทร์</option>
                                    <option value="@ImportCreateOption.student_ppc">นิสิต:วิทยาลัยปิโตร</option>
                                    <option value="@ImportCreateOption.student_other">นิสิต:อื่นๆ</option>
                                    <option value="@ImportCreateOption.staff_hr">บุคลากร:สำนักบริหารทรัพยากรมนุษย์</option>
                                    <option value="@ImportCreateOption.staff_other">บุคลากร:อื่นๆ</option>
                                    <option value="@ImportCreateOption.fixlogin">Fix login</option>
                                </select>
                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <input type="file" id="file" name="file" accept="text/plain,.csv,application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                <br />
                                @Html.ValidationMessage("format_error")
                            </div>
                            <div class="col-lg-2 text-right">
                                <button class="btn btn-primary" type="submit">ตรวจสอบไฟล์</button>
                                @*<a href="@Url.Action("TemplatAccountFile","Guest")" class="btn btn-light" target="_blank">ตัวอย่างไฟล์</a>*@
                            </div>
                        </div>
                    </form>
                    <div id="divexample">
                        ตัวอย่างไฟล์
                        <div id="div@(ImportCreateOption.student)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>cu_jobcode</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>cu_pplid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.student_sasin)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>faculty_shot_name</th>
                                        <th>cu_jobcode</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>cu_pplid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.student_ppc)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>faculty_shot_name</th>
                                        <th>cu_jobcode</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>cu_pplid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.student_other)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>faculty_shot_name</th>
                                        <th>cu_jobcode</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>cu_pplid</th>
                                        <th>basic_uid</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.staff_hr)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>cu_jobcode</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>structure_1</th>
                                        <th>structure_2</th>
                                        <th>status</th>
                                        <th>cu_pplid</th>
                                        <th>basic_mobile</th>
                                        <th>basic_telephonenumber</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.staff_other)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>cu_jobcode</th>
                                        <th>cu_thcn</th>
                                        <th>cu_thsn</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                        <th>structure_1</th>
                                        <th>structure_2</th>
                                        <th>status</th>
                                        <th>cu_pplid</th>
                                        <th>cu_CUexpire</th>
                                        <th>basic_mobile</th>
                                        <th>basic_telephonenumber</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="div@(ImportCreateOption.fixlogin)">
                            <table class="table table-striped table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th>org</th>
                                        <th>basic_givenname</th>
                                        <th>basic_sn</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                    @if (Model.lists != null && Model.lists.Count() > 0)
                    {
                    @if (Model.code != ReturnCode.Success)
                        {
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <form class="form-horizontal form-parsley" asp-action="CreateAccountFromFile2" asp-controller="Account" method="post">
                                <button class="btn btn-primary" type="submit">บันทึก</button>
                            </form>
                        </div>
                    </div>
                        }
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <div class="table-rep-plugin">
                                <div class="table-responsive mb-0" data-pattern="priority-columns">
                                    <table id="tech-companies-1" class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>ORG</th>
                                                <th>Job Code</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>First Name (Th)</th>
                                                <th>Last Name (Th)</th>
                                                <th>Citizen ID</th>
                                                <th>Mobile</th>
                                                <th>Telephonenumber</th>
                                                <th>Remark</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.lists != null)
                                                {
                                                    foreach (import item in Model.lists)
                                                    {
                                                        var rowcolor = "";
                                                        if (item.ImportVerify == false)
                                                        {
                                                            rowcolor = "text-danger";
                                                        }
                                            <tr class="@rowcolor">
                                                <td>
                                                    @item.system_org
                                                </td>
                                                <td>
                                                    @item.cu_jobcode
                                                </td>
                                                <td>
                                                    @item.basic_givenname
                                                </td>
                                                <td>
                                                    @item.basic_sn
                                                </td>
                                                <td>
                                                    @item.cu_thcn
                                                </td>
                                                <td>
                                                    @item.cu_thsn
                                                </td>
                                                <td>
                                                    @item.cu_pplid
                                                </td>
                                                <td>
                                                    @item.basic_mobile
                                                </td>
                                                <td>
                                                    @item.basic_telephonenumber
                                                </td>
                                                <td>
                                                    @if (!string.IsNullOrEmpty(item.ImportRemark))
                                                                {
                                                    @Html.Raw(item.ImportRemark.Replace("\r\n", "<br/>"))
                                                                }
                                                </td>
                                            </tr>
                                                    }
                                                }
                                            @if (Model.lists == null || Model.lists.Count() == 0)
                                                {
                                            <tr>
                                                <td colspan="7" class="text-center">ไม่พบข้อมูล</td>
                                            </tr>
                                                }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
        <!-- end col -->
    </div>
</div><!-- container -->
@section scripts{
    <script>
          $(document).ready(function () {
              import_option_onchange();
        });
        function import_option_onchange() {
            var option = $('#import_option').val();
            $('#div' + '@ImportCreateOption.student').hide();
            $('#div' + '@ImportCreateOption.student_sasin').hide();
            $('#div' + '@ImportCreateOption.student_ppc').hide();
            $('#div' + '@ImportCreateOption.student_other').hide();
            $('#div' + '@ImportCreateOption.staff_hr').hide();
            $('#div' + '@ImportCreateOption.staff_other').hide();
            $('#div' + '@ImportCreateOption.fixlogin').hide();
            if (@rowcnt == 0) {
                $('#div' + option).show();
            }
        }
    </script>
}