@model IDM.DTO.ChangePasswordDTO
@{
    ViewData["Title"] = "เปลี่ยนรหัสผ่าน";

}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div aria-live="polite" aria-atomic="true" style="position: relative;">

                <div class="page-title-box">
                    <div class="float-right" style="width:50%">
                        @if (ViewBag.ReturnCode != null)
                        {
                            @if (ViewBag.ReturnCode == ReturnCode.Success)
                            {
                                <div class="alert alert-success  border-0" role="alert">
                                    <i class="mdi mdi-check-circle-outline font-18 mr-1"></i>
                                    <strong class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger border-0" role="alert">
                                    <i class="mdi mdi-close-circle-outline font-18 mr-1"></i>
                                    <strong  class="font-18">@ViewBag.Message</strong>
                                </div>
                            }
                        }
                    </div>
                    <h4 class="page-title">เปลี่ยนรหัสผ่าน</h4>
                    <p class="text-muted">
                        Change Password
                    </p>
                </div><!--end page-title-box-->
               
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!--end row-->
    <form class="form-horizontal form-parsley" novalidate role="form" asp-action="ChangePassword" asp-controller="Profile">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body mt-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-sm-4 text-right">
                                        <label class="col-form-label-eng">รหัสผ่านเดิม</label>
                                        <span class="text-eng">Old Password</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="OldPassword" required maxlength="20" tabindex="1">
                                            <span class="input-group-append">
                                                <button class="btn btn-gradient-dark" type="button" onclick="eyes('OldPassword')"><i id="eyesOldPassword" class="mdi mdi-eye"></i></button>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.OldPassword)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 text-right">
                                        <label class="col-form-label-eng">รหัสผ่านใหม่</label>
                                        <span class="text-eng">New Password</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="Password" required maxlength="20" tabindex="2">
                                            <span class="input-group-append">
                                                <button class="btn btn-gradient-dark" type="button" onclick="eyes('Password')"><i id="eyesPassword" class="mdi mdi-eye"></i></button>
                                            </span>

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 text-right">
                                        <label class="col-form-label-eng">ยืนยันรหัสผ่าน</label>
                                        <span class="text-eng">Confirm Password</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input class="form-control" type="password" asp-for="ConfirmPassword" required data-parsley-equalto="#Password" maxlength="20" tabindex="3">
                                            <span class="input-group-append">
                                                <button class="btn btn-gradient-dark" type="button" onclick="eyes('ConfirmPassword')"><i id="eyesConfirmPassword" class="mdi mdi-eye"></i></button>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label text-right"></label>
                                    <div class="col-sm-8">
                                        <button class="btn btn-primary" type="submit" tabindex="4">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <p>
                                            <b>
                                                คำแนะนำเกี่ยวกับรหัสผ่าน
                                                <br />
                                                1. รหัสผ่านมีความยาวขั้นต่ำ 8 ตัวอักษร และน้อยกว่าเท่ากับ 16 ตัวอักษร
                                                <br />
                                                2. รหัสผ่านจะต้องประกอบด้วยตัวพิมพ์ใหญ่อย่างน้อย 1 ตัว
                                                <br />
                                                3. รหัสผ่านจะต้องประกอบด้วยตัวพิมพ์เล็กอย่างน้อย 1 ตัว
                                                <br />
                                                4. รหัสผ่านจะต้องประกอบด้วยตัวเลขอย่างน้อย 1 ตัว
                                            </b>
                                        </p>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <p>
                                            <b>
                                                Password Policy Recommendations
                                                <br />
                                                1. Your password must be between 8 and 16 characters.
                                                <br />
                                                2. Your password must contain at least one uppercase, or capital.
                                                <br />
                                                3. Your password must contain at least one lowercase letter.
                                                <br />
                                                4. Your password must contain at least one number digit.
                                            </b>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end card-body -->
                </div> <!-- end card -->
            </div> <!-- end col -->
            <!-- end col -->
        </div>
    </form>

    <!-- end col -->
</div> <!-- end row -->
<!-- end page content -->
@section scripts{
    <script>
        function eyes(id) {
            if ($('#' + id).get(0).type == 'password') {
                $('#' + id).get(0).type = 'text';
                $('#eyes' + id).removeClass();
                $('#eyes' + id).addClass("mdi mdi-eye-off");
            }
            else {
                $('#' + id).get(0).type = 'password';
                $('#eyes' + id).removeClass();
                $('#eyes' + id).addClass("mdi mdi-eye");
            }
        }
    </script>
}
